main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

article {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: flex-start;
    column-gap: 10%; 
}

.skills_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills img {
    width: 20vw;
    height: 20vw;
    border-radius: 25%
}

/* About Me */
h1 {
    display: flex;
    justify-content: center;
}

/* Titles of each part */
h2 {
    display: flex;
    justify-content: flex-start;
}

/* Skills & Tools list */
h3 {
    display: flex;
    justify-content: flex-start;
}

p {
    margin-bottom: 1.2vh;
}

.skills_list p {
    margin: 0;
}

/* Profile picture */
#profile_picture {
    width: 40vw;
    max-width: 400px;
    margin-bottom: 5vh;
    border-radius: 10%;
}