/* Website elements layout */
article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #474B4F;
    padding: 3rem 1.5rem 2rem 1.5rem;
}

/* Blog images */
article img {
    width: 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    border: 2px solid #6B6E70;
}

/* Class formatting */
.blog_image {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.blog_link {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
}

/* BLOG */
h1 {
    display: flex;
    justify-content: center;
}

/* Titles of each blogpost */
h2 {
    display: flex;
    justify-content: flex-start;
}

/* Blogpost date */
h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oxygen", sans-serif;
    font-size: 1rem;
}

/* Link to blog */
h4 {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
}

/* Blog content paragraph color */
main p {
    color: white;
}

/* Hyperlink text color */
a h4 {
    color: #61892F;
    text-decoration: underline;
}

/* Scaling for Tablet */
@media only screen and (min-width: 768px) {
    h3 {
        font-size:1.8rem;
    }
    h4 {
        font-size: 3rem;
    }
}

/* Scaling for Laptop */
@media only screen and (min-width: 1024px) {
    /* Font size */
    article img {
        width: 20vw;
        height: 20vw;
    }
}