/* Class and elements within formatting */
.contact * {
    padding-left: 0.5rem;
}
.contact h3 {
    border-left: solid 3px #61892F;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10%; 
}
.social_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social img {
    width: 20vw;
    max-width: 100px;
    height: 20vw;
    max-height: 100px;
    border-radius: 15%
}

/* Contact */
h1 {
    display: flex;
    justify-content: center;
}

/* Titles of each part */
h2 {
    display: flex;
    justify-content: flex-start;
}

/* Social Media List */
h4 {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
}

/* Paragraph layout */
p {
    padding-bottom: 1rem;
}

/* Scaling for Tablet */
@media only screen and (min-width: 768px) {
    h4 {
        font-size: 2rem;
    }
    section {
        padding-bottom: 5vh;
    }
    article {
        margin-bottom: 0;
    }
}

/* Scaling for Laptop */
@media only screen and (min-width: 1024px) {
    /* Font size */
    header {
        margin-bottom: 0;
    }
    section {
        padding-bottom: 7.8vh;
    }
    article {
        margin-bottom: 0;
    }
    p {
        font-size: 1.5rem;
    }
}