
/* Page Title */
h1 {
    display: flex;
    justify-content: center;
}

/* Titles of each part */
h2 {
    display: flex;
    justify-content: flex-start;
}

h3 {
    display: flex;
    justify-content: flex-start;
    font-size: 1.8rem;
}

h4 {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: 100;
}

/* Class Formatting */
.experience_head {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.experience {
    display: flex;
    flex-direction: column;
    column-gap: 1.5vh;
}

.experience * {
    padding-left: 0.5rem;
    border-left: solid 3px #61892F;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vh;
}

.project_details {
    border-left: solid 3px #61892F;
    margin: 1rem;
    padding: 1rem;
}

.projects img {
    width: 25vw;
    height: 25vw;
}

/* Hyperlink text color */
a h4 {
    color: #61892F;
    text-decoration: underline;
}