/* Layout of website elements */
main {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
header {
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
}
article {
    display: flex;
    flex-direction: column;
}

/* Fabian Sugandhi */
header h1 {
    display: flex;
    justify-content: center;
}

/* Hello and welcome */
header h2 {
    display: flex;
    align-items: center;
}

/* My name is */
header h3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 8vh;
}

/* Designer & Developer */
header h4 {
    display: flex;
    justify-content: flex-end;
}

/* More about me */
article h5 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
}

/* Scaling for Laptop */
@media only screen and (min-width: 1024px) {
    /* Font size */
    h1 {
        font-size: 12rem;
    }
}