* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
}

html  {
    min-height: 100vh;
    width: 100%;
    background-color: #222629;
    color: white;
}

main {
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

article {
    display: flex;
    flex-direction: column;
}

section {
    padding-bottom: 15vh;
}

article {
    margin-bottom: 5vh;
}

footer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #61892F;
    padding: 1vh;
}

footer p {
    padding: 0;
}

/* Font Styles */
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    color: #61892F;
    line-height: 0.9;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

h5 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2rem;
    color: white;
}

p {
    font-family: "Oxygen", sans-serif;
    font-size: 1rem;
    color: #676d72;
    line-height: 1.2;
}

strong {
    font-weight: 700;
    color: #61892F;
}

/* Remove hyperlink underline */
a {
    text-decoration: none;
}

/* Navigation Bar */
nav {
    width: 100%;
    padding: 10px 10px;
    background-color: #474B4F;
    border-bottom: 2px solid #61892F;
    display: flex;
    justify-content: space-around;
    font-family: "Bebas Neue", sans-serif;
}

nav a {
    font-size: 1.5rem;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid #61892F;
}

/* Contact button */
#contact_button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    bottom: 5vh;
}
#contact_button a {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5%;
    background-color: #61892F;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

/* Resume button */
#resume_button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    bottom: 12vh;
}
#resume_button a {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5%;
    background-color: #61892F;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

/* Scaling for Tablet */
@media only screen and (min-width: 768px) {
    /* Font size */
    nav a {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 5rem;
    }
    
    h3 {
        font-size: 4rem;
    }
    
    h4 {
        font-size: 4rem;
    }
    
    h5 {
        font-size: 2.2rem;
    }
    
    p {
        font-size: 1.8rem;
    }
    #resume_button a {
        font-size: 2rem;
    }
    #contact_button a {
        font-size: 2rem;
    }
    footer p {
        font-size: 1rem;
    }
}