* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  


html, body, main  {
    min-height: 100vh;
    width: 100%;
    background-color: #222629;
    color: white;
}

main {
    padding-top: 8vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}

section {
    padding-bottom: 20vh;
}

article {
    margin-bottom: 8vh;
}

/* Font Styles */
h1 {
    font-size: 16vw;
    color: #61892F;
    line-height: 0.9;
}

h2 {
    font-size: 10vw;
}

h5 {
    font-size: 5vw;
    color: white;
}

h3 {
    font-size: 6vw;
}

h4 {
    font-size: 6vw;
}

p {
    font-size: 5vw;
    color: #6B6E70;
    line-height: 1.2;
}

strong {
    font-weight: 700;
    color: #61892F;
}

/* Remove hyperlink underline */
a {
    text-decoration: none;
}

/* Navigation Bar */
nav {
    width: 100%;
    padding: 10px 10px;
    background-color: #474B4F;
    border-bottom: 2px solid #61892F;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 5vw;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid #61892F;
}

/* Contact button */
#contact_button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    bottom: 5vh;
}
#contact_button a {
    font-size: 5vw;
    padding: 10px;
    border-radius: 5%;
    background-color: #61892F;
    color: white;
}

/* Resume button */
#resume_button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    bottom: 15vh;
}
#resume_button a {
    font-size: 5vw;
    padding: 10px;
    border-radius: 5%;
    background-color: #61892F;
    color: white;
}